<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.huddleup">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:label="HuddleUp"
        android:supportsRtl="true"
        android:theme="@style/Theme.HuddleUp"
        tools:targetApi="31">
        <activity
            android:name=".Z_MainActivity"
            android:exported="false" />
        <activity
            android:name=".N_EventKu"
            android:exported="false" />
        <activity
            android:name=".N_EventCheckedInActivity"
            android:exported="false" />
        <activity
            android:name=".N_SigninActivity"
            android:exported="false" />
        <activity
            android:name=".N_detailEvent"
            android:exported="false" />
        <activity
            android:name=".D_WishlistActivity"
            android:exported="false" />
        <activity
            android:name=".D_WishlistDetailActivity"
            android:exported="false" />
        <activity
            android:name=".N_LauncherActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Aktivitas untuk form -->
        <activity android:name=".EventFormActivity" />
        <activity
            android:name=".N_LoginActivity"
            android:exported="false" />
        <activity
            android:name=".J_NotificationActivity"
            android:exported="false" />
    </application>

</manifest>